/* title */
 #title{
  background-color: #aacfcf;
  color: #679b9b;
  padding: 3% 15% 5%;
}
 h1{
font-family: "Montserrat";
font-weight: 900;
font-size: 2.75rem;
color: #679b9b;
}
h2{
  font-family: "Montserrat";
}
.navbar{
  padding: 0 0 3rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
  margin-left: 0;
}
.nav-item{
  padding: 0 1rem;
}
.download-button{
  margin:5% 3% 5% 0;
}
.main-image{
  width: 70%;
  margin-left: 30%;
}

/* features */
#features{
  padding: 5% 15%;
}
h3{
  font-size: 1.5rem;
  font-family: "Montserrat";
  font-weight: bold;
}
p{
  color:#8f8f8f;
}
.feature-box{
  text-align: center;
  padding: 4%;
}
.feature-image{
  margin-bottom: 1rem;
  color: #79bac1;
}
.feature-image:hover{
  color: #2a7886;
}
/* patterns */
#patterns{
  padding-bottom: 2%;
  background-color: #aacfcf;

}
.cubepattern{
  text-align: center;
  padding: 1% 10% 7% 10%;
}
 .arrow{
  width: 45%;
  margin-top: 15%;
  border-radius: 100%;
}

h4{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 10%;
}

.heading-patterns{
  text-align: center;
  font-size: 6rem;
color: #2a7886;
background-color: #aacfcf;
padding: 1%;
font-family: "ubuntu";
}

.pattern-name{
  color: #fff;
  font-size: 2.5rem;
  font-family: "ubuntu";
}

.pattern{
  width: 75%;
}

/* buying */
#buying{
  text-align: center;
}
.card-deck{
  margin-right: 0px;
  /* text-align: center; */
  padding: 50px 100px;
}
.card-img-top{
  width: 50%;
  margin: 20px auto 10px;
}
.card{
  background-color: #aacfcf;
}
.card-title{
font-family: "Montserrat";
font-weight: bold;
}
.card-text{
  color: #fff;
}
@media (max-width: 1028px){
  #title{
    text-align: center;
  }
.main-image{
  margin: auto;
}
.card{
  height: 500px;
}
.card-title{
  font-size: 20px;
}
.card-text{
  font-size: 10px;
}
.card-img-top{
  width: 70%;
}
}
/* copyright */
#copyright{
  padding: 7% 15%;
  text-align: center;
  background-color: #aacfcf;
}
.cr{
  color: #fff;
}
/* timer */
#timer {
     padding:50px 1px;
    background-color:#679b9b; color:#eee;
    font-family:"Arial", serif; font-size:0.7em; text-align:center;
}
input {
    width:20%;
    font-family:"Montserrat", serif; font-size:1.0em; color:#333; text-align:center;
    cursor:pointer;
}
#res {
    width: 70%;
    margin: 10px;
    padding:3px 4px 1px; border:1px inset #999; color:#000; font-size:1.6em; text-shadow:0px 0px 2px #000;
    background-color:#eee;
}
.swheading{
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 2rem;
}
.timerrow{
  margin: auto;
}
.solver{
  border-radius: 100%;
  width: 120%;
  height: 100%;
}
